<!DOCTYPE html>
<html lang="en">

    <head>

        <% include partials/head.ejs %>
        <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
    </head>


    <body id="bg">
        <h1 class ="centered text">Welcome to your BlackJack table</h1>
        //dealer deck
        <div class="container centered" id="up_space">
            <img src="/images/Dos.png" class="deck"/>
        </div>
        //
        <div>

        </div>


        <% include partials/scripts.ejs %>
    </body>
</html>