<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
</head>


<body id="bg">
    <h1 class ="centered text">Welcome to your BlackJack table</h1>
    <div class="container">
        <div id="log">
            <input type="text" name="id">
            <input type="text" name="password">
            <input type="submit" value="submit">
        </div>
    </div>
</body>
</html>