<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"/>
</head>


<body id="bg">
<h1 class="centered text">Welcome to your BlackJack table</h1>
<div class="container" id="log">
    <div id="login">
        <h3>Login</h3>
        <input type="text" name="id" id="logId"><br>
        <input type="password" name="password" id="logPassword"><br>
        <button id="loginSubmit" onclick="login()">submit</button>
        <div id="errorLogin" class="error">This account does not exist</div>
    </div>
    <hr>
    <div id="nAccount">
        <h3>Create Account</h3>
        <input type="text" name="id" id="newId"><br>
        <input type="password" name="password" id="newPassword"><br>
        <button id="nAccountSubmit" onclick="createAccount()">submit</button>
        <div id="errorCreateAccount" class="error">This username is not available</div>
    </div>
</div>
<div class="container" id="tables">
    <div id="table">
        <div class="info">
            <p>Table n°{{ idTable }}</p>
            <p>num player : {{ numPlayers }}</p>
            <p>state : {{ state }}</p>
        </div>
        <button id="joinTable" onclick="redirect('/blackJack/table/'+ {{ idTable }})">Join table</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
<script href="js/mustache.js"></script>

<script src="/dist/bundle.js"></script>
</body>
</html>